$bgcolor: #2ec4b6;
$text_color: #0F1020;
$fontsize: 18px;
$main_color: #e27d60;
$main2_color: #05181d;
$font: 'Raleway', sans-serif;
$font_2: 'Spartan', sans;
$two_color: #eee;
$image: url('../../frontend/images/back.jpg');
