{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/design.css">
</head>
<body>
<div class="add-event" id="add-event1">
            <div class="wrapper fadeInDown">
                <div id="formContent">

                    <h1>Add an Event</h1>
                    <form id="event_form" method="post" action=".">
                            <p>
                                {% csrf_token %}
                                <input type="text" id="title" class="fadeIn second" name="title" placeholder="title">
                                <input type="text" id="description" class="fadeIn third" name="description" placeholder="description">
                                <input type="date" id="date" class="fadeIn fourth" name="date" placeholder="date">
                            </p>
                        <input type="submit" name="Submit" onclick="addEvent()" value="Create Event" />
                    </form>
                </div>
            </div>
        </div>
</body>
</html>